body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calcolatrice {
    display: grid;
    grid-template-areas:
        "display     display      display      display"
        "operator   operator    operator    operator"
        "element    element     element     uguale"
        "element    element     element     uguale"
        "element    element     element     uguale"
        "element    element    element     uguale";
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.2);
}

.element {
    font-size: 25px;
    font-weight: 700;
    width: 90px;
    height: 70px;
    background-color: #eef1f4;
    border-top: 2px solid #889bab;
    border-right: 2px solid #889bab;

    display: flex;
    justify-content: center;
    align-items: center;
}

.element-display {
    font-size: 35px;
    width: 100%;
    padding-right: 15px;
    background-color: #444d52;
    color: #eef1f4;
    border: none;

    grid-area: display;
    display: flex;
    justify-content: flex-end;
}

.element-operator {
    border-top: none;
    background-color: #d1dbe2;
}
.element-operator:nth-child(5) {
    border-right: none;
}

.element-uguale {
    height: 100%;
    background-color: #f46d77;
    border-right: none;

    grid-area: uguale;
    display: flex;
    align-items:center;
}